# Override fragment for m68k.
CT_CONFIGURE_has_dtc=y
CT_WORK_DIR="${CT_TOP_DIR}"
CT_BUILD_TOP_DIR="${CT_WORK_DIR:-${CT_TOP_DIR}/.build}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}"
# CT_PREFIX_DIR_RO is not set
CT_ARCH_M68K=y
# CT_ARCH_X86 is not set
CT_ARCH="m68k"
CT_ARCH_CHOICE_KSYM="M68K"
CT_ARCH_M68K_SHOW=y
CT_ARCH_M68K_PKG_KSYM=""
CT_ARCH_SUPPORTS_FLAT_FORMAT=y
CT_ARCH_DEFAULT_BE=y
CT_ARCH_BITNESS=32
CT_ARCH_32=y
