# Override fragment for armv8.2a-aarch64.
CT_WORK_DIR="${CT_TOP_DIR}"
CT_PREFIX_DIR_RO=n
CT_LOG_FILE_COMPRESS=n
CT_ARCH_ARM=y
# CT_ARCH_X86 is not set
CT_ARCH="arm"
CT_ARCH_CHOICE_KSYM="ARM"
CT_ARCH_ARM_SHOW=y
CT_ARCH_ARM_PKG_KSYM=""
CT_ARCH_SUPPORTS_BOTH_MMU=y
CT_ARCH_DEFAULT_HAS_MMU=y
CT_ARCH_SUPPORTS_FLAT_FORMAT=y
CT_ARCH_SUPPORTS_EITHER_ENDIAN=y
CT_ARCH_DEFAULT_LE=y
# CT_ARCH_BE is not set
CT_ARCH_LE=y
CT_ARCH_ENDIAN="little"
CT_ARCH_EXCLUSIVE_WITH_CPU=y
CT_ARCH_ARCH="armv8.2-a"
CT_LINUX_REQUIRE_3_7_or_later=y
