# Override fragment for ppc64le-power10.
CT_ARCH_POWERPC=y
# CT_ARCH_X86 is not set
CT_ARCH="powerpc"
CT_ARCH_CHOICE_KSYM="POWERPC"
CT_ARCH_CPU="power10"
CT_ARCH_POWERPC_SHOW=y
CT_ARCH_POWERPC_PKG_KSYM=""
CT_ARCH_powerpc_ABI=""
CT_ARCH_powerpc_ABI_DEFAULT=y
# CT_ARCH_powerpc_ABI_SPE is not set
CT_ARCH_SUPPORTS_EITHER_ENDIAN=y
CT_ARCH_DEFAULT_BE=y
# CT_ARCH_BE is not set
CT_ARCH_LE=y
CT_ARCH_ENDIAN="little"
CT_ARCH_SUPPORTS_WITH_ABI=y
CT_ARCH_SUPPORTS_WITH_FLOAT=y
CT_ARCH_ABI=""
CT_ARCH_FLOAT_AUTO=y
# CT_ARCH_FLOAT_HW is not set
# CT_ARCH_FLOAT_SW is not set
CT_ARCH_FLOAT="auto"
CT_LIBC_MUSL_EXTRA_CFLAGS="-mno-pcrel"
